.product-card {
    display: flex;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Courgette", cursive;
    font-family: "Dancing Script", cursive;
    font-family: "Satisfy", cursive;
    font-size: 18px;
    width: 300px;
    
  }
  
  .product-image {
    margin-right: 10px;
  }
  
  .product-image img {
    max-width: 170px;
    height: 150px;
    border-radius: 4px;
  }
  
  .product-details {
    flex: 1;
  }
  
  .product-title {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .product-category {
    font-size: 1.2rem;
    color: #666;
    margin: 5px 0;
  }
  
  .product-condition {
    font-size: 1rem;
    color: #888;
    margin: 5px 0;
  }
  .product-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  