.footer {
    background-color: #b55f45;
    background-image: linear-gradient(72deg, #faf1ee 0%, #f9f2f0 100%);
    color: black;
    text-align: center;
    width:100%;
  }

  
  .icons {
    font-size: 20px;
  }
  
  .icons div {
    margin: 0 10px; 
  }
  
  .icons div a {
    color: black;
  }
  
  .icons div a:hover {
    color: #099e9d;
  }

  .icons div:hover {
    transform:scale(1.2);
  }
  
  
  