.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background: rgb(243, 180, 180);
    a img {
        margin: 5px;
    }
    ul {
        position: relative;
        right: 1em;
        line-height: 1.2em;
    }
}
