.sec2 {
    font-family: "Courgette", cursive;
    font-family: "Dancing Script", cursive;
    font-family: "Satisfy", cursive;
    font-size: 19px;
    text-align: center;
}

.login-container {
    height:68vh !important;
    margin-top:50px;
}

.login-btstrap-con {
    width:40% !important;
}
  
  @media (min-width: 100px) and (max-width: 980px) {
    .login-btstrap-con {
        width:80% !important;
    }
    }

// .login-form-container {
//     text-align: center;
//     display: flex;
//     min-height: 100vh;
//     align-items: center;
//     justify-content: center;
//     background: rgb(243, 180, 180);
//     .auth-form, .login-form {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         text-align: left;
//         position: relative;
//         bottom: 5rem;
//     } 
// }

// label {
//     text-align: left;
//     padding: 0.25rem 0;
// }

// input {
//     margin: 0.5rem 0;
//     padding: 1rem;
//     border-radius: 10px;
//     border: none;
// }

// .button-switch-to-register , 
// .button-login {
//     border: none;
//     background-color: white;
//     padding: 10px;
//     border-radius: 10px;
//     margin-top: 15px;
// }

