.productDetails{
    font-family: "Courgette", cursive;
    font-family: "Dancing Script", cursive;
    font-family: "Satisfy", cursive;
    font-size: 19px;
    // height:72vh !important;
    // margin-top:10px;

}

.userInfo-empty-space {
    height:150px;
}

.details {
    border: solid white 1px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
    border-radius: 18px;
}

.product-img img {
    width: 480px;
    height: 450px;
    border-radius: 18px;
}

.flex-container {
    display: flex;
    flex-direction: column;
 
}

.flex-container div {
    display: flex;
    margin-bottom: 10px;
}

h5 {
    margin-right: 10px;
}

.description-row {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
}
.btn-btn:hover {
    background: #212245 !important;
    border-radius: 20px;
}

@media (min-width: 100px) and (max-width: 799px) {
    .product-img img {
        width: 400px;
        border-radius: 18px;
        margin-bottom: 20px;
    }
  }
  
  @media (min-width: 800px) and (max-width: 980px) {
    .product-img img {
        width: 480px;
        height: 450px;
        border-radius: 18px;
    }
    }
  
  